*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background:#FFFFFF;
    color:#333333 !important; 
    font-size: 16px !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    vertical-align: baseline;
    box-sizing: border-box;
    } 
  h1{
    color:#101010;				
    font-size:45px; 
    line-height:56px; 
    } 
    h2{
    color:#101010; 
    font-size:36px; 
    line-height:40px} 
    h3{
    color:#101010 ; 
    font-size:28px; 
    line-height:32px;
    }  
    h4{
    color:#101010;
    font-size:20px; 
    line-height:28px; 
    } 
    h5{
    color:#101010;
    font-size:20px; 
    line-height:28px;
    }  
    h6,a{
    color:#101010 ;
    font-size:18px; 
    line-height:20px;
    }
    /* menu */
    .header__menu ul{
      list-style-type: none;
      display: flex;
      justify-content:center;
  }
  .nav-item{
      display: block;
      padding: 30px 40px;
  }
  .nav-link{
      text-decoration: none;
      text-transform: uppercase;
      font-weight: bold;
  }
  .nav-item:hover .nav-link{
      color:#0c8b51
  }
  .dropdown__menu a{
      text-decoration: none;
      margin-top: 10px;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 15px !important;
  }
  .dropdown__menu{
      display: none;
      position: relative;
  }
  .dropdown:hover .dropdown__menu{
      display: block;
      position: absolute;
  }
  .dropdown__item{
      display: flex;
      flex-direction: column;
      background-color: #0c8b51;
    
  }
  .dropdown__item a{
      color: white;
      margin-left: 20px;
  }
  .dropdown__item li{
      /* top: calc(100% + 10px); */
      /* left: 50%; */
      transform: translateX(-50%);
      width: 142px;
      /* box-shadow: 0px 3px 6px #ddd; */
      margin-left: -40px;
      padding: 8px 5px;
      border-radius: 4px;
      background-color: #0c8b51;
      font-size: 14px;
      z-index: 10;
  }
  .dropdown__item li:hover a{
      color: black;
  }
  /** Menu sticky */
.sticky{
    box-shadow: 1px 1px 1px 1px rgb(163, 162, 162);
    position: fixed;
    width: 100%;
    z-index: 2;
    opacity: 1;
    background-color:  bisque;
}
/* footer */
.footer{
    padding: 50px;
    background-color: #0c8b51;
    margin-top: 40px;
}
.footer_item{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer_social{
    padding: 20px;
}
.footer_social_item{
    display: flex;
}
.social_item{
    font-size: 40px;
    padding: 0px 10px;
}
.social_item:hover i{
   color: rgb(163, 162, 162);
}
.footer_title_box{
    padding: 20px;
    justify-content: flex-start;
}
.info_adress, .info_email, .info_phone{
   font-size: 30px;
}
.item_table{
    display: flex;
    flex-direction: column;
}
.email{
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 12px;
    background-color: white;
}
input, textarea{
    outline: none;
    border: none;
    padding-left: 8px;
}
