nav,.menu_trangchu {
    border-bottom: 2px solid black;
    background-color: yellowgreen;
}

.footer{
    height: 200px;
    background-color: yellowgreen;
    text-align: center;
}
.footer h2{
    font-weight: bold;
    color: brown;
    font-size: 26;
}
.footer a{
    color: black;
}
.footer a:hover{
    color: red;
}
.form_DN h3{
    background-color: yellowgreen;
    padding: 5px 10px;
    text-align: center;
}
